.feed-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  overflow-y: scroll;
  height: 80%;
}
.feed-container::-webkit-scrollbar {
  display: none;
}
