.stories {
  height: 13%;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 85%;
  padding: 10px;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 1;
  transition: background-color 0.2s;
}

.scroll-button.left {
  left: 5px;
}

.scroll-button.right {
  right: 5px;
}
